<footer>
    <div class="container">
        <ul class="footer-links">
            <li><a href="/">Home</a></li>
            <li><a href="/destinations">Destinations</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/sign-in">Sign In</a></li>
        </ul>
    </div>
</footer>