<%- include('head') %> 
<body>
    <nav class="header-nav">
        <ul>
            <li><a href="/places">Dash</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </nav>
</body>
</html>