<section id="about">
  <h3>About</h3>
  <article>
    <p class="about-info">
      We know that planning a trip can be overwhelming, which is why we've stripped everything down to the <strong>bare essentials</strong>. Our website is a no-frills kind of place – we've got everything you need to plan your dream vacation, and nothing you don't. </p>
      <p>No flashy graphics, no cluttered pages, just the information you need to get from point <strong>A</strong> to point <strong>B</strong>. So why waste time on other websites with bells and whistles you don't need?
    </p>
  </article>
</section>