<section id="quick-guide">
    <h3>Get Started</h3>
    <aside>
        <ol id="quick-guide-list">
            <li><span class="material-symbols-outlined">history_edu</span><h4>Know where you're going.</h4></li>
            <li><span class="material-symbols-outlined">feed</span><h4>Know where've you've been.</h4></li>
            <li><span class="material-symbols-outlined">login</span><h4>Sign up is free!</h4></li>
        </ol>
    </aside>
</section>