<section id="quick-guide">
    <h2>Get Started</h2>
    <aside>
        <ol id="quick-guide-list">
            <li><span class="material-symbols-outlined">history_edu</span><h3>Track where you want to go.</h3></li>
            <li><span class="material-symbols-outlined">feed</span><h3>Track where've you've been.</h3></li>
            <li><span class="material-symbols-outlined">login</span><h3>Sign up is free!</h3></li>
        </ol>
    </aside>
</section>