<section id="quick-guide">
    <h2>Quick Guide</h2>
    <aside>
        <ul id="quick-guide-list">
            <li>Track where you want to go.</li>
            <li>Track where've you've been.</li>
            <li>All in here!</li>
        </ul>
    </aside>
</section>