<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/nav') %>

    <div class="page-container">
        <h2>
            <%= userPlace.country %>
        </h2>
    </div>
    
</body>
</html>