@import './footer.css';
@import './place.css';

body {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    /* margin-top: 60px; */
}


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #202023;
    font-family: 'DM Sans', sans-serif;
    color: #2a2a2a;
    padding-bottom: 100px;
}

ul {
    list-style-type: none;
}

.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.add-icon {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #41E2BA;
    transition: all .125s;
    min-width: 100%;
    display: inline-block;
    text-align: center;
    border: solid 1px #41E2BA;
    transition: all .3s;
}

.add-icon:where(:hover, :active, :focus) {
    background-color: #41E2BA;
    color: #202023;
}

.add-place {
    width: 25%;
}

.header-intro {
    margin: 15px 0 35px 0;
    color: #f7ede2;
    border-radius: 10px;
}

.header-intro h1{
    font-size: 1.75rem;
    font-weight: 200;
}

.header-intro h1 span {
    font-weight: 600;
} */