@import './variables.css';

header {
    position: absolute;
    padding: 20px;
    z-index: 1;
    inset: auto 0 auto 0;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header .navbar {
    width: 50%;
    display: none;
}

header .flex-header {
    color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    max-width: 50%;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-weight: 200;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #eee;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    position: relative;
    transition: all 0.3s ease;
}

header nav ul li a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 1.5px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

header nav ul li a:hover::before {
    background-color: #fff;
    transform: scaleX(1);
}

header nav.hidden {
    animation: 2s infinite alternate slidein;
}

header .logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #708184;
    letter-spacing: 2px;
}

.hamburger {
    cursor: pointer;
}

.hamburger .line {
    display: block;
    width: 30px;
    height: 1px;
    margin: 7px auto;
    background-color: #f5f5f5;
    /* border-radius: 3px; */
    transition: all 0.3s ease-in-out;
}

/* .hamburger:nth-child(2) {
    transform: translateY(8px);
}

.hamburger.active:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active:nth-child(2) {
    opacity: 0;
}

.hamburger.active:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
} */


/* header h1>span {
    text-decoration: underline;
    padding-bottom: 5px;
} */

/* .nav-toggle {
    position: absolute;
    background: none;
    top: -8px;
    right: -8px;
    border-style: solid;
    border-width: 50px 0 0 50px;
    border-color: #6f6d59 transparent transparent #4b493b;
    box-shadow: -3px 3px 10px -3px rgb(26, 26, 26);
} */

/* .nav-toggle:hover {
    cursor: pointer;
}

header nav.peelOpen {
    animation: slidein .55s forwards;
}

@keyframes peelOpen {
    from {
        inset: unset;
        background: none;
        top: -8px;
        right: -8px;
        border-style: solid;
        border-width: 50px 0 0 50px;
        border-color: #6f6d59 transparent transparent #4b493b;
        box-shadow: -3px 3px 10px -3px rgb(26, 26, 26);
    }

    to {
        inset: 0;
        background: #6f6d59;
        top: 0;
        right: 0;
        border-style: none;
        border-width: 0;
        border-color: none;
        box-shadow: none;
    }
} */

@keyframes slidein {
    from {
        transform: translateY(-300px);
    }

    to {
        transform: translateY(0);
    }
}

.header-nav {
    background-color: #000;
    height: 50px;
    border-top: solid 1px #F7F7F9;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    min-width: 100%;
    z-index: 5;
}

.header-nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-nav ul li a {
    color: #c2c2c2;
    text-decoration: none;
    font-size: 12px;
}