:root {
    --main-color: #503b16;
    --secondary-color: #FFE5B4;
    --light-secondary: #f9ecd4;
    --tertiary-color: #008080;
    --button-bg: #CC5500;
    --button-color: #654321;
    --footer-bg: #2b2d42;
}

